,,first item,forks,spoons,bowls,cups,more,stuff,again,plates two,forks 2,spoons 2,bowls 2,cups2,more 2,last item
101,Schwartz,3,7,0,0,2,1,0,1,1,0,0,5,7,0,0
102,second,2,,,1,1,,,1,2,,3,1,,,1
105,third,,3,4,,1,,,,,,,,,1,1
104,none,,,,,,,,,,,,,,,