body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

.picker-app {
  max-width: 100%;
  display: inline-block;
  width: 550px;
}

h1 {
  color: #333;
  margin: 0 0 20px;
}

p {
  margin: 5px 0;
}

.prod-name {
  font-size: 32px;
  margin: 10px 0;
  padding: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;
}

.prod-name.side {
  background: #000;
  color: #fff;
}

.prod-name small {
  font-size: 18px;
  background-color: #fffc6a;
  display: block;
  height: 20px;
  visibility: hidden;
  color: #000;
}

.prod-name.side small {
  visibility: initial;
}

.prod-name > b {
  font-size: 50px;
  display: block;
}

form label b {
  font-size: 52px;
  background: #fffc6a;
  padding: 5px 0;
  border-radius: 15px;
  width: 100px;
  display: inline-block;
}

.other-itms {
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

table, th, td {
  border: 1px solid #999;
}

th, td {
  padding: 5px;
}

.yellow {
  color: #fa6c39;
  font-weight: bold;
}

form {
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  margin: 5px 0;
}

input[type="number"] {
  font-size: 40px;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 30px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 25px 0px 15px;
  font-size: 36px;
}

a {
  color: #164cff;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

a:hover {
  text-decoration: underline;
}

.next tr {
  height: 60px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Apply a different shade of grey to odd rows */
tr:nth-child(odd) {
  background-color: #e6e6e6;
}

div.qty-box, table .qty-box div {
  display: flex;
  padding: 5px 0 20px;
}

td.qty-box {
  border-top: 2px solid #fff;
}

.qty-box input {
  width: 28%;
  margin: 0 8%;
}

.qty-box button {
  width: 28%;
  margin: 0;
}

.warn {
  color: red;
  font-weight: bold;
}

.warn b {
  display: block;
  background: #fffd70;
  padding: 7px 0 5px;
  margin: 0 0 15px;
}

.warn small {
  color: rgb(25, 25, 25);
  font-weight: normal;
}

#showAll {
  float: left;
  margin: -28px 0 0;
  height: 25px;
  width: 25px;
}

.show-label {
  text-align: left;
  margin: 10px 0 5px 35px;
}

.sides {
  display: flex;
  padding: 20px 0;
}

.sides label {
  display: flex;
  padding: 0px 30px;
}

.picked.other-itms tr {
  cursor: pointer;
}
