html, body{
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 900px;
  padding: 5px;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  border: 1px solid #ccc;
}

tr {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #f1f1f1;
}

tr:first-child {
  font-weight: bold;
  cursor: pointer;
}
#alerts form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  justify-items: center;
  flex-direction: row;
}
#alerts input {
  width: 100px;
  font-size: 30px;
  text-align: center;
}
#alerts textarea {
  width: calc(100% - 280px);
  height: 80px;
}
.admin-form tr td:first-child {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 40px;
}
#register form {
  display: flex;
  flex-direction: column;
}
#register input, #register button {
  font-size: 20px;
  margin: 10px;
  line-height: 50px;
}

#age {
  font-size: 22px;
  margin: 10px;
  height: 50px;
}
header {
  position: relative;
  height: 50px;
  font-size: 22px;
}

header label {
  float: right;
}

header input{
  width: 20px;
  height: 18px;
  margin: 5px 5px 0 0;
}

.burger {
  font-size: 35px;
  cursor: pointer;
  float: left;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  margin: 10px 40px 0 10px;
}

.menu li {
  padding: 20px 0;
  cursor: pointer;
  background: #d6d6d6;
  margin: 15px 10px;
  text-align: center;
  align-content: center;
  border: 1px solid;
  border-radius: 10px;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  margin: 0;
  padding: 50px 0;
  overflow: scroll;
}

#itms button {
  float: right;
}

.alert {
  color: red;
  background: #df0;
}
