body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

.picker-app {
  max-width: 100%;
  display: inline-block;
  width: 550px;
}

h1 {
  color: #333;
  margin: 0;
  font-size: 24px;
  white-space: nowrap;
  overflow: auto;
}

p {
  margin: 5px 0;
}

.prod-name {
  font-size: 30px;
  font-weight: bold;
  overflow: auto;
  max-width: 100%;
  margin: 0 0 5px;
  padding: 5px 0 0;
}

.prod-name.side {
  background: #000;
  color: #fff;
}

.prod-name small {
  font-size: 18px;
  display: block;
  height: 20px;
  color: #ff8;
  visibility: hidden;
}

.prod-name.side small {
  visibility: initial;
}

.prod-name i {
  display: block;
  font-size: 20px;
  color: red;
  background: yellow;
}

.prod-name > b {
  font-size: 45px;
  display: block;
  line-height: 35px;
}

form label b {
  font-size: 52px;
  background: #fffc6a;
  padding: 5px 0;
  border-radius: 15px;
  width: 100px;
  display: inline-block;
}

.other-itms {
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

table, th, td {
  border: 1px solid #999;
}

th, td {
  padding: 5px;
}

.discrepancy {
  color: #fa6c39;
  font-weight: bold;
}

form {
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  margin: 5px 0;
}

input[type="number"] {
  font-size: 40px;
  text-align: center;
}

button {
  background-color: #0059a6;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 25px 0px 15px;
  font-size: 36px;
}

.back {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  padding: 20px 40px;
  background: #c36d6d;
  border-radius: 5px;
  color: #fff;
}

.next tr {
  height: 60px;
}

.next tr:first-child {
  height: 30px;
}

tbody > *:nth-child(even) {
  background-color: #f9f9f9;
}

/* Apply a different shade of grey to odd rows */
tbody > *:nth-child(odd) {
  background-color: #e6e6e6;
}

td.qty-box:nth-child(odd) {
  border-top: 2px solid #e6e6e6;
}

td.qty-box:nth-child(even) {
  border-top: 2px solid #f9f9f9;
}

div.qty-box, table .qty-box div {
  display: flex;
  padding: 5px 0 20px;
}

.qty-box input {
  width: 28%;
  margin: 0 8%;
}

.qty-box button {
  width: 28%;
  margin: 0;
}

.warn {
  color: red;
  font-weight: bold;
}

.warn b {
  display: block;
  background: #fffd70;
  padding: 7px 0 5px;
  margin: 0 0 15px;
}

.warn small {
  color: rgb(25, 25, 25);
  font-weight: normal;
}

#start-page {
  text-transform: uppercase;
}

#start-page input {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 25px;
}

#start-page input[type="number"] {
  width: 170px;
  display: block;
  font-weight: bold;
  font-size: 40px;
  padding: 2px;
  text-align: left;
}

#start-page input#picker {
  width: 120px;
}
#start-page form b {
  float: left;
  font-size: 40px;
  margin: 3px 0;
}

#start-page label {
  text-align: left;
  font-size: 12px;
  margin: 0;
}

#start-page .sides {
  display: flex;
  padding: 20px 0 0;
  line-height: 27px;
}

#start-page .sides label {
  display: flex;
  padding: 0 5%;
  font-size: 22px;
  max-width: 20%;
}

#start-page .sides input {
  height: 25px;
  width: 25px;
}

.picked.other-itms tr {
  cursor: pointer;
  height: 40px;
}

#p-name {
  display: flex;
}

#p-name span {
  padding: 15px;
}

#print-check {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#print-check input {
  width: 22px;
  height: 22px;
  margin: 3px 8px 5px;
}
